@font-face {
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/ibm-plex-mono-latin_cyrillic-500.woff2) format('woff2'),
         url(../fonts/ibm-plex-mono-latin_cyrillic-500.woff2) format('woff');
    font-display: swap;

}