.present {
    padding-top: 37px;
    font-family: 'IBM Plex Mono';
    line-height: 120%;
}

.present__title {
    font-family  : 'IBM Plex Mono';
    font-style   : normal;
    font-weight  : 500;
    font-size    : 90px;
    line-height  : 120%;
    margin-bottom: 8px;
}

.present__text {
    line-height  : 1.3;
    margin-bottom: 54px;
    max-width    : 350px;
}

.present__hero {
    margin-bottom: 30px;
}

.present__btn {
    display            : block;
    background         : url('../img/button.png');
    filter             : drop-shadow(-4px 6px 10px rgba(10, 10, 10, 0.51));
    border-radius      : 2px;
    width              : 285px;
    height             : 68px;
    background-position: center;
    background-size    : cover;
    transition         : 0.3s;
}

.present__btn:hover {
    filter: brightness(1.2);
}



@media (min-height: 900px) {
    .present {
        flex-grow      : 1;
        display        : flex;
        flex-direction : column;
        width          : 100%;
        justify-content: space-around;
    }
}

@media (max-width: 1000px) {

    .present {
        padding-top: 25px;
    }

    .present__hero {
        margin-bottom: 10px;
    }

    .present__title {
        font-size: 70px;
    }

    .present__text {
        margin-bottom: 28px;
        max-width    : 290px;
    }

    .present__btn {
        width : 246px;
        height: 59px;
    }
}

@media (max-width: 850px) {
    .present {
        padding-top: 58px;
    }

    .present__tabs {
        margin-bottom: 0;
    }

    .present__title {
        font-size: 60px;
    }

    .present__hero {
        margin-bottom: -55px;
    }
}


@media (max-width: 655px) {
    .present__hero {
        margin-bottom: 0;
    }

    .present__tabs {
        margin-bottom: 30px;
    }

    .present {
        padding-top: 75px;
    }

    .present__btn {
        width : 290px;
        height: 59px;
    }

    .present__title {
        font-size    : 50px;
        margin-bottom: 6px;
    }

    .present__text {
        margin-bottom: 23px;
        max-width    : 260px;
    }

}

@media (max-width: 750px) {}

@media (max-width: 480px) {
    .present__title {
        font-size: 40px;
    }

    .present__text {
        max-width: 193px;
    }
    }

@media (max-width:320px) {
    .tabs__control {
   margin: 0 auto 20px; 
    }
}